<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatLoader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CD1E55E25D57F3A0012A02C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CD1E57725D57F3C0012A02C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CD1E58225D57F3C0012A02C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
